<!-- About Section -->
<section id="about">
    <div class="container">
        <div class>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Jennifer's Shows</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <!--<div class="timeline-heading">-->
                            <!--    <h4>2009-2011</h4>-->
                            <!--    <h4 class="subheading">Our Humble Beginnings</h4>-->
                            <!--</div>-->
                            <div class="timeline-body">
                                <h3 class="text-muted" style="color:white;">The best trending stories every day. Get your daily-dose of the things you love to see online, and share funny, inspirational, beautiful and intriguing stories with your friends.</h3>
                            </div>
                             <div class="timeline-body">
                                <h3 class="text-muted" style="color:white;">Promotions/Business Inquiries:</h3>
                            </div>
                        </div>
                    </li>
                    <!--<li class="timeline-inverted">-->
                    <!--    <div class="timeline-image">-->
                    <!--        <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">-->
                    <!--    </div>-->
                    <!--    <div class="timeline-panel">-->
                    <!--        <div class="timeline-heading">-->
                    <!--            <h4>March 2011</h4>-->
                    <!--            <h4 class="subheading">An Agency is Born</h4>-->
                    <!--        </div>-->
                    <!--        <div class="timeline-body">-->
                    <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--    <div class="timeline-image">-->
                    <!--        <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">-->
                    <!--    </div>-->
                    <!--    <div class="timeline-panel">-->
                    <!--        <div class="timeline-heading">-->
                    <!--            <h4>December 2012</h4>-->
                    <!--            <h4 class="subheading">Transition to Full Service</h4>-->
                    <!--        </div>-->
                    <!--        <div class="timeline-body">-->
                    <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</li>-->
                </ul>
                
                <div class="text-center">
                    <p>You can email us at contact@jennifershows.com.</p>
                    <button class="btn btn-default">
                        <a href="contact">Contact me</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section>
    <div class="container box">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Special Thank You to all of our Sponsors</h3>
                <div class="timeline-body">
                    <p class="text-muted">Thank you to all of our generous sponsors for their continual support within our web developers.  Because of their financial involvement, our organization continues to be very successful and some families, who are struggling financially, are able to have Deaf community continues to watch the videos and articles they enjoy. We have exciting plans for our organization including major improvements to our fields and property which would not be a possibility without the support of our sponsors.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member text-center">
                    <img src="assets/img/5.jpg" class="img-responsive img-circle center-block" alt="Jennifer Alvarado">
                    <h4>Jennifer Alvarado</h4>
                    <p class="text-muted">Lead Vlogger</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member text-center">
                    <img src="assets/img/brian.jpg" class="img-responsive img-circle"  style="margin: 0 auto; display:block"  alt="Brian van Vlymen">
                    <h4>Brian van Vlymen</h4>
                    <p class="text-muted">Lead Web Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member text-center">
                    <img src="assets/img/person.jpg" class="img-responsive img-circle" style="margin: 0 auto; display:block" alt="Lance Pertersen">
                    <h4>Anonymous</h4>
                    <p class="text-muted">Front-End Web Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div> -->
    </div>
</section>