<div class="container">
<div ng-controller="blogDetailsCtrl">
    <div class="row">
        <div class="box">
            <div class="col-sm-8 blog-main">
                <h2 class="blog-post-title">{{blog.title}}</h2><!-- add href as blog/blog.id?? -->
                <p class="blog-post-meta">{{blog.posted}} by <a href="#">{{blog.name}}</a></p>
                <p>{{blog.description}}</p>
                <div class="embed-responsive embed-responsive-16by9">
					<div my-youtube code="code"></div>
				</div>
			</div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	            <div class="sidebar-module">
		            <h4>Archives</h4>
		            <ol class="list-unstyled">
		              <li><a href="#">March 2014</a></li>
		              <li><a href="#">February 2014</a></li>
		              <li><a href="#">January 2014</a></li>
		              <li><a href="#">December 2013</a></li>
		              <li><a href="#">November 2013</a></li>
		              <li><a href="#">October 2013</a></li>
		              <li><a href="#">September 2013</a></li>
		              <li><a href="#">August 2013</a></li>
		              <li><a href="#">July 2013</a></li>
		              <li><a href="#">June 2013</a></li>
		              <li><a href="#">May 2013</a></li>
		              <li><a href="#">April 2013</a></li>
		            </ol>
		        </div>
	        </div><!-- /.blog-sidebar -->
	    </div>
	</div> 
</div> 
</div> 