<div class="container">
<div ng-controller="blogController">
  <div class="brand">Jennifer's Shows</div>
    <div class="row">
        <div class="box">
          <div class="col-sm-8 blog-main">
            <div class="row">
              <div class="col-xs-12">
                  <h3>Blogs Page: {{ currentPage }}</h3>
              </div>
              <div class="col-xs-12">
                  <label for="search">Search:</label>
                  <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
              </div>
              <div class="col-xs-12">
                  <label for="search">items per page:</label>
                  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
              </div>
              
              <nav>
                <div ng-controller="OtherController" class="other-controller">
                      <div class="text-center">
                      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                      </div>
                </div>
              </nav>
            </div>
          
            <div class="row">
              <div class="panel panel-primary" style="    margin-top: 15px;">
                <div class="panel-body">
                  <div dir-paginate="blog in blogs | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                      <div class="col-md-6 col-sm-6 portfolio-item">
                          <a href="/blog/{{blog.id}}" class="portfolio-link" >
                              <div class="portfolio-hover" style="background: #b31217;">
                                  <div class="portfolio-hover-content">
                                      <i class="fa fa-youtube fa-3x"></i>
                                  </div>
                              </div>
                              <div class="portfolio-caption">
                                <h2 class="text-center">{{blog.title}}</h2>
                                <p class="text-center">Posted: {{blog.posted}} </p>
                                <img ng-src="assets/img/blogs/{{blog.images[0].name}}" class="img-responsive" alt="{{blog.name}}">
                                <p class="text-muted" style="margin-top: 30px;">{{blog.description}}</p>
                              </div>
                          </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <nav>
              <div ng-controller="OtherController" class="other-controller">
                    <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
              </div>
            </nav>
          </div><!-- col-sm-8 /.blog-main -->

          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>The best trending stories every day. Get your daily-dose of the things you love to see online, and share funny, inspirational, beautiful and intriguing stories with your friends.</p>
            </div>
            <div class="sidebar-module">
              <h4>Archives</h4>
              <ol class="list-unstyled">
                <li><a href="/blog/karatbars">Karatbars</a></li>
                <li><a href="#">Multipure water system</a></li>
                <!-- <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
              </ol> -->
            </div>
          </div> <!-- /.blog-sidebar -->
        </div> <!-- box -->
    </div> <!-- row -->
</div> 
</div>