<div class="container">
<div class="brand">KaratBars</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">ASL
                <strong>Karatbars</strong>
            </h2>
            <hr>
            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/gmSgBayhNas?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <p> Facebook plugin comments</p> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">ASL
                <strong>Package Karatbars</strong>
            </h2>
            <hr>
            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/pZV7ekRDvy0?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <p> Facebook plugin comments</p> -->
        </div>
    </div>
</div>


<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">ASL
                <strong>Karatbar</strong>
            </h2>
            <hr>
            <div class="text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/IBl1ZZbfqlU?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <!-- <p> Facebook plugin comments</p> -->
        </div>
    </div>
</div>
</div>