<div ng-controller="storeController" class ="container storeTopBackGround" >
    <div class="well wellmt10">
        <a class="logo" href="{{INSIDE_HEADER_LINK}}">
            <img src="{{INSIDE_HEADER_IMAGE}}" alt="logo" style="width:200px; height:50px;"/>
        </a>
        <h1 class="brand" style="padding-bottom:0px;">
            <div ng-bind-html="INSIDE_HEADER_TITLE | unsafe" style="margin-top: -18px !important;"></div>
        </h1>
        <h2 class="storeMobile">Store</h2>
    </div>
        <!-- done above checked -->


		<div id="store" class="content col-md-12" style="overflow: hidden;" >
			<form class="form-search">
		        <div class="col-md-12 store_container">
		            <div class="content-store col-md-5">
		                <a href="/cart" title="proceed to shopping cart" ng-disabled="cart.getTotalCount() < 1">
		                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
		                    <div style="display:inline !important;">
		                        <span class="btn btn-xs btn-split hvr-pulse">proceed to <img class="img-split" src="../app/ac_products/ac_img/cart.png" /></span>
		                    </div>
		                </a>
		            </div>

		            <div class="tabs-menu col-md-5" style="white-space:nowrap !important;">
		                <ul class="cbp-vm-options">
		                    <li ng-repeat="section in sections">
		                        <!--<a ng-href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
		                        <a ng-href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>-->
		                        <a class="cbp-vm-icon cbp-vm-grid {{section.class}}" ng-class="{cbpvmselected : isSelected(section)}" ng-click="updateDisplay(section)">{{section.name}}</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		        <div class="col-md-12 store_button_top">
		            <table style="float:right;">
		                <tr>
		                    <td><button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><</button></td>
		                    <td><p>&nbsp;&nbsp;{{currentPage + 1}}/{{pageCount()}}&nbsp;&nbsp;</p></td>
		                    <td><button class="btn" ng-disabled="nextPage()" ng-click="currentPage=currentPage+1">></button></td>
		                </tr>
		            </table>


		            <div style="width: 300px !important;padding-bottom: 12px !important;">
		                <input type="text" ng-model="query" ng-change="search('productname')" class="searchbox" placeholder="Search">
		            </div>
		            <div class="filter-button-top">
		                <button class="btn flr-top-first" ng-click="filterCategory('categoryname',null)">All</button>
		                <button class="btn flr-top" ng-click="filterCategory('categoryname','software')">Software</button>
		                <button class="btn flr-top" ng-click="filterCategory('categoryname','cool')">Cool</button>
		                <button class="btn flr-top flr-last" ng-click="filterCategory('categoryname','course')">Courses</button>
		                <button class="btn flr-top flr-last" ng-click="filterCategory('categoryname','led')">Leds</button>
		                <button class="btn flr-top flr-last" ng-click="filterCategory('categoryname','multipure')">Multipure</button>
		            </div>
		        </div>
		        <div class="clear" style="height: 4px !important;"></div>
<!-- untitled -->

<!-- untitled -->
			</form>
		</div>
</div>