<div class="container">
<div ng-controller="vlogDetailsCtrl">
    <div class="row">
        <div class="box">
            <div class="col-sm-8 blog-main text-center">
                <h2 class="blog-post-title">{{vlog.title}}</h2><!-- add href as blog/blog.id?? -->
                <p class="blog-post-meta">{{vlog.posted}} by {{vlog.name}}</p>
                <p>{{vlog.description}}</p>
                <div class="embed-responsive embed-responsive-16by9">
					<div my-youtube code="code"></div>
				</div>

				<div ng-show="vlog.link"><a href="{{vlog.link}}" target="_blank" style="margin-top:15px; display:block"> <i class="fa fa-external-link" aria-hidden="true"></i> Check it out Website! </a> </div>

				<div ng-show="vlog.productsImages"> 
					<a href="{{vlog.productsLink[0]}}" target="_blank" style="margin-top:15px; display:block" > 
						<i class="fa fa-external-link" aria-hidden="true"></i> Check it out Website! 
						<p>{{vlog.productsDescription[0]}} </p></a>
						<img ng-src="assets/img/productsImages/{{vlog.productsImages[0]}}" class="img-responsive" style="margin-top:15px;">
					<a href="{{vlog.productsLink[1]}}" target="_blank" style="margin-top:15px; display:block" > 
						<i class="fa fa-external-link" aria-hidden="true"></i> Check it out Website! 
						<p>{{vlog.productsDescription[1]}} </p></a>
						<img ng-src="assets/img/productsImages/{{vlog.productsImages[1]}}" class="img-responsive" style="margin-top:15px;">
					<a href="{{vlog.productsLink[2]}}" target="_blank" style="margin-top:15px; display:block" > 
						<i class="fa fa-external-link" aria-hidden="true"></i> Check it out Website! 
						<p>{{vlog.productsDescription[2]}} </p></a>
						<img ng-src="assets/img/productsImages/{{vlog.productsImages[2]}}" class="img-responsive" style="margin-top:15px;">
				</div>
			</div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	            <div class="sidebar-module">
		            <h4>Archives</h4>
		            <ol class="list-unstyled">
		              <li><a href="#">Coming Soon</a></li>
<!-- 
		              <li><a href="#">March 2014</a></li>
		              <li><a href="#">February 2014</a></li>
		              <li><a href="#">January 2014</a></li>
		              <li><a href="#">December 2013</a></li>
		              <li><a href="#">November 2013</a></li>
		              <li><a href="#">October 2013</a></li>
		              <li><a href="#">September 2013</a></li>
		              <li><a href="#">August 2013</a></li>
		              <li><a href="#">July 2013</a></li>
		              <li><a href="#">June 2013</a></li>
		              <li><a href="#">May 2013</a></li>
		              <li><a href="#">April 2013</a></li> -->
		            </ol>
		        </div>
	        </div><!-- /.blog-sidebar -->
	    </div>
	</div> 
</div> 
</div> 