@media screen and (min-width:768px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (min-width: 0) {
	/*.img-full {*/
	/*	display:none;*/
	/*}*/
	/*.img-portfolio {*/
	/*	margin:auto;*/
	/*}*/
	.btn-group {
		position: static;
		float: right;
	}
	.dropdown-menu {
		width: 100%;
		background-color: #eb6864;
	}
	.dropdown-menu > li > a {
		color: #ffffff;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: #e74b47;
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/*.navbar>.container .navbar-brand {*/
	/*	margin-left: 0;*/
	/*}*/
	/*.navbar-right{*/
	/*	margin-right:0;*/
	/*}*/
	/*.img-portfolio {*/
	/*	height: 220px;*/
	/*	margin-bottom: .5em;*/
	/*}*/
	.btn-group {
		float: left;
		position: relative;
	}
	.dropdown-menu {
		min-width: 190px;
		left: auto;
		right:0;
	}
	.nav-topics {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.nav-topics>#single-button {
		font-size :1.083em;
		background-color: #654233;
		border-color: #54372a;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 3px;
	}
	.nav-topics>#single-button:hover, .nav-topics>#single-button:focus {
		/*color: #ffffff;*/
		/*background-color: #e74b47;*/
	}
	.nav-topics>#single-button:hover,
	.nav-topics>#single-button:focus {
		color: #fff;
		background-color: #432c22;
		border-color: #2b1c16;
	}
	.brand {
		padding-bottom: 40px;
	}
	
	/* TEST */ /*
	.nav > li > a {
		padding-left: 0;
    	padding-right: 0;
	}
	.nav-topics>#single-button {
		padding-left: 0;
    	padding-right: 0;
	} */
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
	/*.img-full{*/
	/*	height:226px;*/
	/*	display:block;*/
	/*	margin:auto;*/
	/*}*/
	/*.img-portfolio {*/
	/*	height: 45px;*/
	/*	margin-bottom: .5em;*/
	/*}*/
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


/* custom */
/*@media only screen and (max-width: 992px) {*/
/*	.img-full{display: none;}*/

/*	.img-portfolio{*/
/*		height: 250px;*/
/*		margin: auto;*/
/*		margin-bottom: 10px;*/
/*	}*/
/*}*/


/********************************************************/

.ads-t-and-b-outer {
	padding-top: 50px;
	padding-bottom: 50px;
}
.ads-sidebar-outer {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media(max-width: 349px) {
	.ads-t-and-b {
		width: 200px;
		height: 200px;
		background-color: red;
	}
	.ads-sidebar {
		width: 200px;
		height: 200px;
		background-color: red;
	}
}
@media(min-width: 350px) {
	.ads-t-and-b {
		width: 300px;
		height: 250px;
		background-color: orange;
	}
	.ads-sidebar {
		width: 300px;
		height: 250px;
		background-color: orange;
	}
}
@media(min-width: 500px) {
	.ads-t-and-b {
		width: 468px;
		height: 60px;
		background-color: blue;
	}
	.ads-sidebar {
		width: 336px;
		height: 280px;
		background-color: blue;
	}
}
@media(min-width: 768px) {
	.ads-sidebar {
		width: 120px;
		height: 600px;
		background-color: yellow;
	}
}
@media(min-width: 800px) {
	.ads-t-and-b {
		width: 728px;
		height: 90px;
		background-color: yellow;
	}
}
@media(min-width: 992px) {
	.ads-sidebar {
		width: 160px;
		height: 600px;
		background-color: yellow;
	}

	.blog-image {
		background-color: #685D58;
		border: solid 5px #DE6460; 
		border-radius: 15px; 
		margin: 0 100px 0 150px;
	}
}